.race-show-recap-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: rgba(241, 238, 217, 1);
}

.team-container {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  align-items: center;
  /* This vertically centers the items if their heights differ */
  // gap: 100px;
  /* Optional: adds some space between the label and the value */
  // justify-content: center;
  overflow: hidden;
  margin-bottom: 20px;
}

.historical-figure-race-container {
  width: 318px;
  height: 500px;
  justify-content: space-between;
  align-items: center;
  /* This vertically centers the items if their heights differ */
  gap: 10px;
  /* Optional: adds some space between the label and the value */
}

.car-type-race-container {
  width: 318px;
  height: 500px;
  justify-content: space-between;
  align-items: center;
  /* This vertically centers the items if their heights differ */
  gap: 10px;
}

.main-figure-image-race {
  max-width: 100%;
  // width: 100%;
  height: 300px;
  border-radius: 10px;
  margin: 0 auto;
}

.car-race-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.start-race-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: rgba(241, 238, 217, 1);
}

.map-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(241, 238, 217, 1);
}

