// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sigmar+One&display=swap');

// Define fonts for body and headers
$body-font-sm: "Open Sans", "Helvetica", "sans-serif";
$body-font-md: "Open Sans", "Helvetica", "sans-serif";
$body-font-lg: "Open Sans", "Helvetica", "sans-serif";
$headers-font-sm: "Sigmar One", "Helvetica", "sans-serif";
$headers-font-md: "Sigmar One", "Helvetica", "sans-serif";
$headers-font-lg: "Sigmar One", "Helvetica", "sans-serif";

h1 {
  font-family: $body-font-lg;
  font-size: 50px;
}

h2 {
  font-family: $body-font-md;
}

h3 {
  font-family: $body-font-sm;
}

p {
  font-family: $body-font-md;
}
