<div class="result-page d-none" data-controller="result">
  <%= image_tag "dalle.png", class: "logo", alt: "Five Things Logo" %>
  <p>Some fancy animation</p>
</div>

<h2>YOU LOOSEE!!!!!!!</h2>
<%= link_to "Start again", root_path %>
