<div class="result-page"
      data-controller="result"
      data-action="animationed->result-page#result-win"
      style="position: relative;">

  <%= link_to "START AGAIN", historical_figures_path, class: "btn-result"%>

  <%= image_tag "win.png",
      class: "result-img-animation",
      alt: "Winning Image" %>
</div>
