body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(241, 238, 217, 1) !important;
}

.historical-figure-page-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  /* Allows multiple rows */
  justify-content: space-around;
  /* Adjusts spacing between the boxes */
  gap: 20px;
  /* Space between boxes if they wrap to the next line */
  background-color: rgba(241, 238, 217, 1);
}

.card {
  width: 318px;
  height: 500px;
  position: relative;
  background: white;
  box-shadow: 0px 8px 12px rgba(30, 30, 30, 0.04);
  border-radius: 12px;
  overflow: hidden;
  text-decoration: none;
}

.picture-box {
  width: 291px;
  height: 346px;
  background-color: rgba(217, 217, 217, 1);
  overflow: hidden;
  position: relative;
  margin-top: 16px;
  margin-left: 13px;
}

.historical-figure-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.historical-figure-name {
  font-size: 24px;
  font-weight: 700;
  margin-top: 16px;
  margin-left: 13px;
  text-align: left;
  text-decoration: none;
}

.historical-figure-category {
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
  margin-left: 13px;
  text-align: left;
  text-decoration: none;
}

.historical-figure-price {
  font-size: 16px;
  font-weight: 700;
  margin-top: 8px;
  margin-left: 13px;
  text-align: left;
  text-decoration: none;
}
