.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: $LoW-orange;
  margin: 80px auto 0px auto;
  position: sticky;
  top: 50px;
  z-index: 1;
  left: calc(80% - 1000px);
  width: 1000px;
  height: 80px;
  border-radius: 80px;
  color: #ffffff;

  a {
    font-family: $headers-font-md;
    font-weight: 400;
    font-size: 20px;
  }
}

.img-navbar-link {
  border: 0.7rem solid $LoW-orange;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 160px;
  width: 160px;
}
