.navbar-lewagon {
  justify-content: space-between;
  background: #0C191A;
  padding: 5px;
  .nav-link {
    color: white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 135px;
}
